* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: rgb(207, 173, 123);
  --second-color:rgb(82, 63, 2);
}
main {
  display: flex;
  justify-content: flex-end;
}
.search {
  position: fixed;
  left: 0;
  background-color: var(--main-color);
  height: 100vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 10px;
  width: 50%;
  height: 40px;
  outline: none;
  font-size: 18px;
}
.search-btn {
  border: none;
  background-color: var(--second-color);
  padding: 5px;
  
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 40px;
  width: 50px;
  cursor: pointer;
}
.fa-magnifying-glass {
  color: white;
  font-size: 18px;
  
}
.product {
  width: 60%;
}
.product{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    width: 49%;
    height: 500px;
    border: 1px solid rgb(235, 227, 227);
    border-radius: 12px;
    box-shadow: 1px 1px 2px var(--main-color);
    position: relative;
}
.card-img img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-text{
    text-align: center;
}
.card-text h2{
    margin-top: 15px;
}
.card-text a{
    text-decoration: none;
    background-color: var(--main-color);
    padding: 10px;
    /* margin-top: 15px; */
    display: inline-block;
    border-radius: 12px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    position: absolute;
    top: 85%;
    right: 40%;
}
.card-text a:hover{
    background-color:var(--second-color) ;
    transition: .3s;
}
.show-details{
    display: none;
}
.details{
    position: fixed;
    width: 40%;
    left: 0;
    background-color: var(--main-color);
    height: 100vh;
    padding:80px 30px;
}
.details i{
    width: 30px;
    height: 30px;
    background-color: var(--second-color);
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}
.details > *{
    margin-bottom: 25px;
}
.details h2{
    font-size: 35px;
}
.details p{
    font-size: 18px;
}
.details a{
    color: var(--second-color);
}